<a href="/portfolio/new">Sign-in</a>

<h1>Dow Jones Industrial Average</h1>

<% financeData.forEach(stock => { %>
    <p>
        <a href="/<%= stock.symbol %>"><%= stock.symbol %></a>
        <br>
        <%= stock.name %>
        <br>
        <%= stock.sector %>
    </p>
<% }) %>


