<h1>Dow Jones Industrial Average</h1>

<% financeData.forEach(stock => { %>
    <p>
        <%= stock.symbol %>
        <br>
        <%= stock.name %>
        <br>
        <%= stock.sector %>
    </p>
<% }) %>