<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">Stocks</a>
        <br>
        <a id='userLink' href="">script to fill in with current username</a>
        <br>
        <a id='signIn' href="/signin">Sign in</a>
        <a id='signOut' href="/" onclick="localStorage.clear(); return alert(`Goodbye`)">Sign out</a>

        <script>
            <%/* set currentUser to current value of name stored in local storage*/%>
            let currentUser = localStorage.getItem('name')
            <%/* if currentUser has a value, show link to current portfolio and signout*/%>
            if (currentUser !== null) {
                document.getElementById('userLink').href=("/portfolio/" + currentUser)
                document.getElementById('userLink').innerText=(currentUser + "'s portfolio")
                document.getElementById('signIn').style.display = 'none'
            <%/* else show link to sign in*/%>
            } else {
                document.getElementById('userLink').style.display = 'none'
                document.getElementById('signOut').style.display = 'none'
            }
        </script>
    </nav>

    <%- body %>
</body>
</html>