<h1>Welcome!</h1>

<form action="/signin" method="POST" onsubmit='localStorage.setItem("name", name.value)'>
    <input type="text" name="name" placeholder='Name'>
    <input type="text" name="cash" placeholder='Starting cash (if new)'>
    <input type="submit" name="signin" value='signin' >
</form>